/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top_wrapper .top_descr .top_centered .top_content h1{
		font-size: 2em;
	}
	.top_wrapper .top_descr .top_centered .top_content .planet{
		width: 125px;
		height: 125px;
		-webkit-background-size: 300px;
		background-size: 300px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
