@import "bourbon/_bourbon"

$text_color1: #989796
$text_color2: #272625


html,body
	max-width: 100%
	min-width: 320px	
	overflow-x: hidden
	font-size: 14px
	font-family: 'Raleway-Regular', sans-serif
	h1,h2,h3,h4
		font-weight: normal
	@media(min-width: 732px)
		overflow-y: visible !important


body
	background: #fcfafa

.link
	a, a:visited
		color: $text_color1
		+transition(all .2s linear)
		position: relative
		padding-bottom: 5px
		cursor: pointer
		text-decoration: none
		&:before
			position: absolute
			content: ""
			+transition(all .2s linear)
			height: 1px
			background: #8fa1c8
			width: 0
			right: 0
			left: auto
			bottom: 0
		&:hover
			color: $text_color2
			text-decoration: none
			&:before
				width: 100%
				left: 0


.nav-over
	z-index: 0
	opacity: 0
	left: 0
	background: #000
	+transition(all 0.2s linear)
	@media(min-width: 732px)
		display: none

.nav-over-active
	position: fixed
	width: 100%
	height: 100%
	opacity: 0.75
	z-index: 998
	top: 0
	bottom: 0
	+transition(all 0.2s linear)

.header
	position: fixed
	z-index: 997
	top: 0
	background: #fcfafa
	left: 0
	width: 100%
	color: $text_color1
	font-size: 16px
	+transition(all 0.5s ease-in-out)
	.container
		margin-top: 29px
		+transition(all 0.2s ease-in-out)
	a
		font-size: 16px
	.menu
		position: fixed
		top: 80px
		left: 0
		right: 0
		margin: 0 auto
		background: #f6f3f3
		padding-bottom: 75px
		width: 235px
		z-index: 999
		+transition(all .3s linear)
		opacity: 0
		pointer-events: none
		+transform(scale(0.2))
		border-radius: 5px
		header
			padding: 22px 20px 
			width: 100%
			border-bottom: 1px solid #e4e3e3
			position: relative
			h3
				font-size: 16px
				margin: 0
				font-family: 'Merriweather-Bold' 
				color: $text_color1
			.close-menu
				+size(17px)
				position: absolute
				right: 20px
				top: 22px
				cursor: pointer
				+transform(rotate(45deg))
				&:before
					content: ''
					position: absolute
					top: 8px
					height: 1px
					width: 100%
					background: #9a9998
				&:after
					content: ''
					position: absolute
					top: 0
					left: 8px
					height: 100%
					width: 1px
					background: #9a9998
		.profile
			position: absolute
			bottom: 15px
			width: 100%
			padding-bottom: 20px
			.profile-menu
				width: 100%
				text-align: center
				margin-bottom: 26px
				ul li
					&:not(.selected)
						display: none
					
			ul
				margin: 0
				padding: 0
				li
					list-style: none
				i
					display: none
			.lang
				display: block
				text-align: center
				li
					+size(18px)
					position: relative
					color: transparent
					display: inline-block
					a
						color: transparent
						&:hover:before
							display: none
					img
						position: absolute
						top: 0
						left: 0
						border: 1px solid #e4e3e3
						border-radius: 50%
		nav
			padding: 40px 0
			ul
				padding: 0
				text-align: center
				li
					list-style: none
					margin-bottom: 8px
					&:last-child
						margin: 0
					sup
						padding-left: 3px
						font-size: 12px
						opacity: 0
						position: absolute

	.menu-open
		opacity: 1
		pointer-events: auto
		+transform(scale(1))
	.logo
		+transition(all .2s linear)
		.logo_wrap
			display: inline-block
			position: relative
			overflow: hidden
			width: 49px
			height: 40px
			svg
				+transition(all 0.2s ease-in-out)
				width: 100%
				height: 100%
		a
			position: absolute
			display: block
			height: 100%
			width: 100%
			top: 0
	.nav-bar
		position: absolute
		top: 30px
		right: 20px
		width: 25px
		height: 40px 
		cursor: pointer
		+transition(all .2s linear)
		.burger
			position: relative
			top: 20px
			width: 21px
			height: 2px
			border-bottom: 2px solid #000
			border-radius: 1px
			&:before, &:after
				position: absolute
				content: ""
				top: -7px
				right: 0
				height: 2px
				width: 25px
				background: #000
			&:after
				top: 7px
				width: 18px
	@media(min-width: 732px)
		border-bottom: 1px solid rgba(228,227,227, 1)
		padding-bottom: 10px
		font-size: 14px
		a
			font-size: 14px
		.container
			position: relative
			margin-top: 15px
		.menu
			position: absolute
			top: 0
			background: none
			height: auto
			padding: 31px 0 0 125px
			width: 100%
			opacity: 1
			pointer-events: auto
			+transform(scale(1))
			header
				display: none
			nav
				padding: 0
				ul
					text-align: left 
					.main-page
						display: none
					li
						display: inline
						margin-right: 35px
						sup
							opacity: 1
							position: relative
			.profile
				position: relative
				margin: 0
				float: right
				margin-right: 14px
				bottom: auto
				width: auto
				padding-bottom: 0
				display: inline
				.profile-menu
					width: auto
					text-align: left
					float: left
					margin: 0 30px 0 0
					position: relative
					vertical-align: top
					ul li
						&:not(.myprofile)
							display: list-item
					a
						cursor: pointer
					.on
						display: none
						ul
							margin-top: 0
					.fullprof
						position: relative
				.lang
					text-align: right
					position: relative
					display: inline-block
					li
						+size(auto)
						position: relative
						color: $text_color1
						display: block
						a
							color: $text_color1
						img
							display: none
				ul
					padding: 0
					cursor: pointer
					position: relative
					display: inline-block
					text-align: right
					pointer-events: none
					li
						opacity: 0
						color: $text_color1
						+transition(all .2s linear)
						padding: 0 20px 0 10px
						position: relative
						a
							position: relative
							&:after
								content: "\2022"
								position: absolute
								color: #8fa1c8
								right: -17px
								top: -5px
								font-size: 20px
								opacity: 0
								+transform(scale(0.8))
								+transition(all .2s linear)
						&:not(.selected):hover
							a
								color: #333030
								&:before
									display: none
								&:after
									opacity: 1
									+transform(scale(1))
					i
						display: inline
						position: absolute
						right: 2px
						top: 3px
						color: #5a5958
						+transition(all .2s linear)
					.selected
						opacity: 1
						pointer-events: auto
						right: 0
						top: 0
						margin-bottom: 10px
						&:after
							content: ''
							height: 1px
							width: 0
							right: 0
							background: #e4e3e3
							bottom: 0
							left: -15px
							position: absolute
							opacity: 0
							width: calc(100% + 30px)
							+transform(scale(0.5))
							+transition(all .2s linear)
						a:before
							display: none
					&:after
						position: absolute
						background: #fcfafa	
						content: ''
						z-index: -1
						border: 1px solid #e4e3e3
						width: calc(100% + 30px)
						height: calc(100% + 34px)
						opacity: 0
						top: -17px
						left: -15px
						pointer-events: none
						+transition(all .2s linear)
						+transform(scale(0.5))
					&:hover
						pointer-events: auto
						&:after
							opacity: 1
							+transform(scale(1))
						i
							+transform(rotate(-180deg))
						.selected
							color: #333030
							&:after
								opacity: 1
								+transform(scale(1))
							a
								color: #333030
						li
							opacity: 1
							padding-bottom: 10px
							&:last-child
								padding-bottom: 0

		.nav-bar
			display: none
		.logo
			.logo_wrap
				width: auto
				height: auto
			a
				z-index: 9999


.header_scrolled
	padding-bottom: 0
	-webkit-box-shadow: -52px -31px 51px 20px #989796
	-moz-box-shadow: -52px -31px 51px 20px #989796
	box-shadow: -52px -31px 51px 20px #989796
	border-bottom: 1px solid rgba(228,227,227, 0)
	.container
		margin-top: 5px
	.nav-bar
		top: 5px
	.logo .logo_wrap svg
		+transform(scale(0.9))


.nav-up
	top: -110px

section
	position: relative
	.title
		font-family: 'Merriweather-Bold'
		color: $text_color2
		font-size: 20px
		text-align: center
		text-transform: uppercase
		letter-spacing: 3px
		margin-bottom: 18px
		@media(min-width: 700px)
			font-size: 36px


.main
	padding: 200px 0 55px
	.title
		text-align: left
		span
			color: $text_color1
			letter-spacing: normal
	.title-descr
		font-size: 16px
		color: $text_color1



.project
	position: relative
	width: 100%
	overflow: hidden
	margin-top: 30px
	img
		width: 100%
		height: 100%
		object-fit: cover
		-o-object-fit: cover
		object-position: top center
		-o-object-position: top center 
		+transition(transform 1.35s)
		+transform(scale(1.1))
	.info_wrapper
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba(0,0,0,0.7)
		display: table
		opacity: 0
		overflow: hidden
		+transition(opacity 0.35s)
		.info_descr
			position: relative
			&:before
				content: ''
				top: 0
				left: 0
				height: 100%
				width: 100%
				position: absolute
				background: rgba(255,255,255,0.5)
				+transform(scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0))
				+transition(transform 0.6s)
			display: table-row
			.info_centred
				display: table-cell
				text-align: center
				vertical-align: middle
				.info_content
					display: inline
					color: #fcfafa
					+transition(all .2s linear)
				h2
					font-family: 'Merriweather-Bold'
					font-size: 30px
				p
					font-size: 16px
	&:hover
		img
			+transform(scale(1.0))
		.info_wrapper
			opacity: 1
			.info_descr
				&:before
					+transform(scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0))


.contact_form
	width: 100%
	max-width: 400px
	margin: 55px auto
	.form-group
		margin-bottom: 0
	.help-block
		margin: 0
	ul
		margin: 10px 0
		padding: 0 10px
		li
			list-style: none
	label
		display: block
		font-weight: normal
		&.error
			input, textarea
				border-color: #f45e57
			.help-block
				color: #f45e57
		&.warning
			input, textarea
				border-color: #FFA64C
			.help-block
				color: #FFA64C
				
	input, textarea
		width: 100%
		font-size: 16px
		color: $text_color2
		padding: 12px 10px
		background: transparent
		border: 1px solid #e4e3e3
		margin-top: 20px
	input[type=number]
		&::-webkit-inner-spin-button
			display: none
	textarea
		resize: none
	.submit
		width: 50%
		padding: 20px 0
		background: transparent
		text-transform: uppercase
		font-family: 'Raleway-Bold', sans-serif
		font-size: 12px
		color: $text_color2
		+transition(all .2s linear)
		&:hover
			background: #8fa1c8
			color: #fcfafa

.footer
	background: transparent
	position: relative
	padding: 30px 0
	border-top: 1px solid rgba(228,227,227, 1)
	position: relative
	z-index: 50
	.container
		position: relative
	.to-top
		position: absolute
		bottom: 10px
		right: 15px
		&:before
			height: 0
	.phone
		margin-right: 35px
		color: $text_color1
	nav
		ul
			padding: 0
			margin: 14px 0
			li
				list-style: none
				display: inline
				margin-right: 35px
				&:last-child
					margin: 0
	@media(max-width: 699px)
		font-size: 12px
		nav ul li 
			margin-right: 10px
	
.modal
	.modal-dialog
		max-width: 306px
		.modal-content
			border-radius: 0
			.close-dialog
				+size(16px)
				background: url(../img/close-dialog.png) no-repeat
				position: relative
				float: right
				margin: 20px 20px 15px
				cursor: pointer
				opacity: 0.4
				+transition(all .2s linear)
				&:hover
					opacity: 1
			.container
				width: 280px
		@media(max-width: 767px)
			margin: 10px auto
.signInForm 
	input, textarea
		width: 100%
		padding: 12px 13px
		margin-top: 15px
		border: 1px solid #e4e3e3
		&:focus
			border-color: #8fa1c8
	textarea
		resize: none
	a
		padding: 6px 0
		margin: 17px 0
		float: right
		text-transform: uppercase
		font-size: 11px
	.submit
		clear: both
		width: 100%
		margin-bottom: 28px
		padding: 16px 0
		margin-top: 0
		background: transparent
		border: 1px solid #e4e3e3
		font-size: 12px 
		font-family: 'Raleway-Bold', sans-serif
		color: $text_color2
		text-transform: uppercase
		+transition(all .2s linear)
		&:hover
			background: #8fa1c8
			color: #e2e4ed
.modal-open
	padding: 0 !important



