@import "bourbon/_bourbon"

$text_color1: #989796
$text_color2: #272625

section
	@media(min-width: 700px)
		font-size: 16px

.main
	.head
		padding-bottom: 40px
		.button-back
			display: inline-flex
			align-items: center
			i
				margin-top: -2px
				margin-right: 10px
		.tegs
			padding: 0
			margin: 20px 0 0 
			li
				display: inline
				color: $text_color1
				margin-right: 15px
				&:before
					content: '#'
		.summary
			color: $text_color2
			margin: 40px 0 45px
			text-align: justify
	.screen
		img
			width: 100%
	.project_description
		padding: 75px 0
		ul
			padding: 0
			li
				list-style: none
				text-align: justify
				line-height: 30px
				strong
					font-family: 'Raleway-Bold', sans-serif
					font-weight: normal
				&:first-child
					margin-bottom: 50px

.s_madeby
	background: #f6f3f3
	+transform(rotate(-2.5deg))
	margin: 20px -70px
	padding: 0 70px 30px
	.container
		+transform(rotate(2.5deg))
	.title
		margin: -17px 0 80px
	.team
		margin: 0

.s_comments
	padding-bottom: 150px
	.switches
		margin: 30px 0
		.switch
			display: inline-block
			color: $text_color1
			+transition(all .3s linear)
			font-family: 'Merriweather-Bold'
			position: relative
			p
				margin: 0
			h3
				margin: 0
				font-size: 20px
				padding-bottom: 10px
				display: flex
				align-items: center
				span
					border-bottom: 2px solid $text_color1
				i
					padding: 0 10px
			&:hover
				text-decoration: none
				color: $text_color2
				h3
					border-bottom-color: #8fa1c8
		@media(min-width: 700px)
			margin-bottom: 65px
			.switch
				h3
					font-size: 36px
		.prevpage
			text-align: right
			padding-left: 40px
			float: right
			margin-right: 8%
		.nextpage
			text-align: left
			padding-right: 40px
			margin-left: 8%
	.comments
		.comment
			border-top: 1px solid #e4e3e3
			padding: 20px 0 15px
			.user, .time
				font-family: 'Merriweather-Bold'
				color: $text_color1
			.user
				&:before
					content: '#'
					padding-right: 5px
			.text
				padding: 35px 0 30px
				text-align: justify
			a
				margin-right: 20px
				&:last-child
					margin: 0
			&.answer
				padding-left: 70px
		@media(min-width: 700px)
			.comment
				padding: 65px 0 30px
				.user
					float: left
					max-width: 60%
				.time
					float: right
				.text
					clear: both
				a
					margin-right: 43px
	.leave_a_comment
		width: 100%
		max-width: 400px
		margin: 0 auto
		.signInForm
			.submit
				max-width: 200px
				margin-top: 15px
